.add_consignment_product_btn {
  margin-bottom: 23.8px;
}

a.user_consignment {
   margin-left: 10px;
}

h2.title, h2.value { display: inline-block; }

.consignments {
  padding: 15px;
}

img.banner {
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
}

#main-nav .navbar-inner { padding: 3px; }
