.add_consignment_product_btn {
  margin-bottom: 23.8px;
}

a.user_consignment {
   margin-left: 10px;
}

h2.title, h2.value { display: inline-block; }

.consignments {
  padding: 15px;
}

img.banner {
  display: block;
  margin: 0 auto;
}
