@import "compass/css3/box-shadow";

.thumbnail {
  background: white;
  @include single-box-shadow(#DDD, 0px, 3px, 2px, -1px);
  .caption {
    span.price {
      float: left;
      font-size: 1.5em;
      line-height: 1.8em;
      font-weight: bold;
      color: #D35A5A;
    }
    .btn { float: right; }
  }
  .product-image {
    height: 200px;
    line-height :200px;
    img {
      vertical-align : middle;
    }
  }
}

a.i-want-to-sell {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 25px;
}

#title-nav {
  a.brand {
    color: #A97430;
  }
}

#user_consignment {
  .services {
    i {
      font-size: 130px;
      line-height: 130px;
      color: #F15C22;
    }
  }
}

.well-block {
  h2.hint {
    color: #51a351;
    font-size: 30px;
  }
  position: relative;
  background: white;
  display: block;
  line-height: 1.7em;
  color: #666;
  z-index: 1;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 10px;
}

.process {
  height: 460px;
}

h2.center {
  color: #51a351;
  text-align: center;
}
