.span12
  header.page-header
    h1 開店理念
  span 基於環保理念,以及幫大家省荷包的想法，寶寶世界二手屋主要在回收各位爸比媽咪們已經用不到的二手嬰幼兒用品。各位爸比媽咪都知道,因為家中小寶寶成長很快,所以有一些東西其實都還很新，但小寶寶們就不能用了。因此藉由這個平台，一方面可以讓爸比媽咪把家中已經用不到的嬰幼兒用品換成現金，不用擔心如何處置的問題。一方面也提供給有需要的爸比媽咪們更多選擇，可以用便宜的價格,買到適合自己寶寶的用品，讓大家都可以為愛地球盡一份心力。
